@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-feature-settings: "ss03";
}

h1, h2, h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Fix for quote on mobile */
.hero-quote {
    font-size: 1.35rem;
    line-height: 1.3;
}

@media (min-width: 768px) {
    .hero-quote {
        font-size: 1.75rem;
        line-height: 1.25;
    }
}
